body{
    background-color: teal;
}


.jumbotron{
    background:url(../img/food.jpg);
    background-size: cover;
}

.resize{
    width: 100%;
}


.button {
    border: none;
    color: white;
    padding: 16px 34px;
    text-align: center;
    text-decoration: red;
    display: inline-block;
    font-size: 25px;
    margin: 8px 4px;
    cursor: pointer;
}
  
  .button1 {
    background-color: #4CAF50;
    
}

.card-body{
    max-height: fit-content;
}

.pics {
    /* padding-left:465px; */
    float: left;
    padding-left: 50px;
    padding-right: 200px;
}



h1 {
    text-align: center;
    padding-top: 50px;
    color: black
}

h3 {
    text-align: center;
    padding-top: 10px;
    color: black
}

h4, legend{
    text-align: left;
    padding-top: 20px;
    color: black
}