body{
    background-color: teal;
}



.jumbotron{
    height:85vh;
    background:url(../img/food.jpg);
    background-size: cover;
}

.resize{
    width: 100%;
}

.button {
    border: none;
    color: white;
    padding: 16px 34px;
    text-align: center;
    text-decoration: red;
    display: inline-block;
    font-size: 25px;
    margin: 8px 4px;
    cursor: pointer;
}
  
  .button1 {
    background-color: #4CAF50;
    
}
p{
    font-size: 20px;
    font-family: 'Times New Roman';
}

.navbar{
    position: fixed;
    top: 0; 
    left: 0; 
     width: 100%;
}
  